/* Forcer l'application à prendre tout l'écran, y compris sous l'encoche */
html, body, #root, [data-contents="true"] {
  height: 100% !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  background-color: #FAFAFA;
}

/* Utilisation des safe areas pour le contenu */
#root {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
